<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947423295138-b3a78geuocl8s48rpc50pss6ultcbor4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947423295138-b3a78geuocl8s48rpc50pss6ultcbor4</string>
	<key>API_KEY</key>
	<string>AIzaSyCSAiQg2jLlna2XE792NpR3Hcwy3A9Qn2I</string>
	<key>GCM_SENDER_ID</key>
	<string>947423295138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>flutterquizapp-4ff98</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterquizapp-4ff98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947423295138:ios:8a207d7ecff1821660c9fb</string>
</dict>
</plist>